$primary-text-color: #d0d6eb;
$secondary-text-color: #535762;
$highlight-color: white;

.homepage {
  background: url("/assets/home/background-home-desktop.jpg") center/cover
    no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .home-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

    .home-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 25px;

      h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $primary-text-color;
      }

      span {
        font-family: "Bellefair", serif;
        font-size: 120px;
        text-transform: uppercase;
        color: $highlight-color;
      }

      p {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        letter-spacing: 1.5px;
        line-height: 28px;
        text-align: justify;
        color: $primary-text-color;
      }
    }

    .home-right {
      button {
        width: 250px;
        height: 250px;
        border: none;
        border-radius: 50%;
        background-color: $highlight-color;
        color: black;
        font-family: "Bellefair", serif;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
      }
    }
  }
}

@media (max-width: 768px) {
  .homepage {
    background: url("/assets/home/background-home-tablet.jpg") center/cover
      no-repeat;
    .home-container {
      flex-direction: column;
      padding: 200px 80px;

      .home-left {
        width: 80%;
        text-align: center;
        h4 {
          font-size: 13px;
          font-weight: 400;

          letter-spacing: 4px;
        }
        p {
          text-align: center;
          font-size: 13px;
        }
        span {
          font-size: 80px;
        }
      }
    }

    .home-right {
      padding-top: 80px;
    }
  }
}

@media (max-width: 575px) {
  .homepage {
    background: url("/assets/home/background-home-mobile.jpg") center/cover
      no-repeat;
    .home-container {
      padding: 100px 25px;

      .home-left {
        width: 100%;
        h4 {
          letter-spacing: 2px;
        }

        span {
          font-size: 80px;
        }
      }
    }

    // .home-right {
    //   padding-top: 80px;
    // }
  }
}
