$primary-text-color: #d0d6eb;
$secondary-text-color: #535762;
$highlight-color: white;
//Desktop:
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  color: $primary-text-color;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    padding: 100px 100px 0;
    max-width: 1400px;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 150px;
      width: 100%;

      .title {
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $primary-text-color;
        padding-bottom: 60px;

        > span {
          color: $secondary-text-color;
          font-weight: bold;
          padding-right: 20px;
        }
      }

      img {
        flex: 1 1 0; // let the image grow
        max-width: 100%;
        height: auto;
      }

      .textbox {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        .name {
          font-family: "Bellefair", serif;
          font-weight: 400;
          font-size: 40px;
          letter-spacing: 5px;
          text-transform: uppercase;
          color: $highlight-color;
        }
        .content {
          line-height: 30px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .page .main {
    padding: 150px 50px 0;

    .container {
      flex-direction: column;
      gap: 50px;

      .title {
        text-align: center;
      }

      .textbox {
        text-align: center;
        align-items: center;
        width: 100%;
      }
    }
  }
}
@media (max-width: 576px) {
  .page .main .container {
    .title {
      font-size: 16px;
      padding-bottom: 30px;
      span {
        padding-right: 10px;
      }
    }

    .textbox .name {
      font-size: 30px;
    }
  }
}
